    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --white: #ffffff;
        --nile-blue: #172B4D;
        --medium-purple: #7764E4;
        --bali-hai: #8898AA;
        --trout: #4D4F5C;
        --shamrock: #2DCE98;
        --bright-turquoise: #11CDEF;
        --persimmon: #FF5757;
        --yellow-light: #F9C518;
        --blue-dodger: #32BCFA;
        --blue-fountain: #48BAB4;
        --water-leaf: #97E6E2;
        --bahia: #9DD60E;
        --gallery: #EEEEEE;
        --orange-outrageous: #FB6340;
        --bs-color: #00000029;
        --bs-sm: 0px 3px 6px var(--bs-color);
        --bs-md: 0px 7px 20px var(--bs-color);
    }
    
    html {
        font-size: 10px;
    }
    
    body {
        background-color: var(--white);
        color: var(--nile-blue);
        font-size: 1.5rem;
        font-family: 'Nunito', sans-serif;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        cursor: pointer;
        color: var(--nile-blue);
    }
    
    input,
    textarea,
    button,
    select,
    a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    
    img {
        width: 100%;
        max-width: 100%;
    }
    
    .btn {
        border-radius: 1rem;
        padding: 1rem;
        outline: none;
        text-align: center;
        cursor: pointer;
    }
    
    .container {
        display: flex;
        width: 100%;
        max-width: 192.2rem;
        margin: 0 auto;
        position: relative;
    }
    
    .aside {
        position: fixed;
        width: 30rem;
        height: 100%;
        background: var(--white);
        display: flex;
        flex-direction: column;
        padding: 3rem;
        box-shadow: var(--bs-sm);
        float: left;
        transition: transform 0.3s ease-in-out;
        z-index: 2;
    }
    
    .aside.open {
        transform: translateX(0);
    }
    
    .aside__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        max-width: 16.6rem;
    }
    
    .hamburger-menu-wrap {
        padding: 1.5rem;
    }
    
    .hamburger-menu {
        display: flex;
        grid-row-gap: .2rem;
        flex-direction: column;
        transform: rotate(180deg);
        cursor: pointer;
    }
    
    .hamburger-menu .line {
        background-color: var(--nile-blue);
        height: .2rem;
        transition: all 0.3s;
    }
    
    .hamburger-menu .line:nth-child(1) {
        width: .6rem;
    }
    
    .hamburger-menu .line:nth-child(2) {
        width: 1.6rem;
    }
    
    .hamburger-menu .line:nth-child(3) {
        width: 1rem;
    }
    
    .aside__body {
        margin-top: 3rem;
    }
    
    .menu__item {
        padding: 1.5rem;
        transition: .2s all;
        cursor: pointer;
        color: initial;
        border-radius: .5rem;
    }
    
    .menu__item:nth-child(2) i {
        color: var(--bright-turquoise);
    }
    
    .menu__item:nth-child(3) i {
        color: var(--orange-outrageous);
    }
    
    .menu__item:nth-child(4) i {
        color: var(--bali-hai);
    }
    
    .menu__item.active,
    .menu__item:hover {
        background-color: rgba(119, 100, 228, .05);
        color: var(--medium-purple);
    }
    
    .menu__item:hover .menu__link {
        color: var(--medium-purple);
    }
    
    .menu__item.active .menu__link {
        color: var(--medium-purple);
    }
    
    .menu__link {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.18px;
    }
    
    .menu__link span {
        margin-left: .5rem;
        font-size: 1.8rem;
    }
    
    .main {
        float: right;
        margin-left: 30rem;
        width: calc(100% - 30rem);
        height: 100vh;
        z-index: 1;
    }
    
    .statistics {
        background-color: var(--nile-blue);
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }
    
    .statistics__header {
        display: flex;
        justify-content: center;
    }
    
    .statistics__body {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-gap: 2.5rem;
    }
    
    .statistic__card {
        background-color: var(--white);
        padding: 1.5rem;
        background-color: #ffffff;
        box-shadow: 0px 3px 6px #2C28281C;
        border-radius: 1rem;
        /* max-width: 31rem; */
        min-width: 30rem;
        width: calc(25% - 2.5rem);
        display: flex;
        justify-content: space-between;
    }
    
    .card__text {
        display: flex;
        flex-direction: column;
        grid-gap: 2.5rem;
    }
    
    .card__title {
        color: var(--bali-hai);
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.12px;
    }
    
    .card__percent {
        color: var(--trout);
        font-size: 3.5rem;
        letter-spacing: 0px;
        font-weight: 400;
    }
    
    .card__last_percent span:nth-child(1) {
        color: var(--trout);
        font-size: 1.2rem;
        text-transform: capitalize;
        letter-spacing: 0.12px;
        font-weight: 400;
    }
    
    .card__last_percent span:nth-child(2) {
        font-size: 1.3rem;
        letter-spacing: 0px;
        color: var(--shamrock);
        font-weight: 400;
        margin-left: 1rem;
    }
    
    .card__logo {
        border-radius: 50%;
        width: 7.2rem;
        height: 7.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
    }
    
    .card-health .card__logo {
        background-color: var(--shamrock);
    }
    
    .card-recommendations .card__logo {
        background-color: var(--bright-turquoise);
    }
    
    .card__logo i {
        font-size: 2.8rem;
    }
    
    .content {
        padding: 3rem .5rem 3rem 3rem;
    }
    
    .content__header {
        display: flex;
        justify-content: space-between;
    }
    
    .filters__section {
        display: flex;
        grid-gap: 2.5rem;
    }
    
    .filter-list {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 2.5rem;
    }
    
    .btn-add-filter {
        border: 1px dashed var(--nile-blue);
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        width: 15rem;
        background-color: transparent;
        cursor: pointer;
        padding: 1rem 1.5rem;
        grid-gap: 1.5rem;
        max-height: 4.5rem;
    }
    
    .btn-add-filter img {
        max-height: 1rem;
        width: auto;
    }
    
    .filter-item {
        border: 1px solid var(--nile-blue);
        border-radius: 5rem;
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        grid-gap: 1.5rem;
    }
    
    .filter-item img {
        max-height: 1rem;
        width: auto;
    }
    
    .btn_active-change-alert {
        background-color: var(--blue-fountain);
        border: 2px solid var(--water-leaf);
        color: var(--white);
        font-weight: 400;
        font-size: 2rem;
    }
    
    .content__body {
        margin-top: 5rem;
    }
    
    .filter-results {
        display: flex;
        flex-direction: column;
        grid-gap: 2.5rem;
    }
    
    .filter-result-item {
        padding: 2.5rem;
        border-radius: 2.5rem;
        box-shadow: var(--bs-md);
        display: flex;
        align-items: center;
        grid-gap: 2.5rem;
    }
    
    .filter-result-item .btn {
        min-width: 18rem;
        font-size: 2.4rem;
        color: var(--white);
        box-shadow: var(--bs-md);
    }
    
    .btn-urgent {
        background-color: var(--persimmon);
        border: 1px solid var(--persimmon);
    }
    
    .btn-warning {
        background-color: var(--yellow-light);
        border: 1px solid var(--yellow-light);
    }
    
    .btn-opportunity {
        background-color: var(--blue-dodger);
        border: 1px solid var(--blue-dodger);
    }
    
    .btn-perfect {
        background-color: var(--bahia);
        border: 1px solid var(--bahia);
    }
    
    .filter-result-desc {
        font-size: 1.5rem;
    }
    
    .filter-result-status {
        border-left: 1px solid var(--gallery);
        border-right: 1px solid var(--gallery);
        padding: 0 2.5rem;
        text-align: center;
    }
    
    .active-result-item {
        display: inline-block;
        padding: .5rem 1rem;
        border-radius: 1.5rem;
        border: 1px solid var(--bali-hai);
    }
    
    .filter-result-status span {
        margin-top: 1rem;
        display: block;
        font-size: 1.2rem;
    }
    
    .btn-filter-result-details {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        width: 6rem;
    }
    
    .btn-filter-result-details img {
        max-height: 2rem;
        transition: all 0.3s ease-in-out;
    }
    
    .btn-filter-result-details:hover img {
        padding-left: 0.5rem;
    }
    
    @media screen and (max-width:1200px) {
        .content__header {
            flex-direction: column;
            grid-gap: 2.5rem;
        }
        .btn_active-change-alert {
            order: 1;
            max-width: 30rem;
            margin: auto;
        }
        .filters__section {
            order: 2;
        }
    }
    
    @media screen and (max-width: 1000px) {
        .aside {
            transform: translateX(-25rem);
            padding: 1.5rem 0 1.5rem 1.5rem;
        }
        .main {
            margin-left: 5rem;
            width: calc(100% - 5rem);
        }
        .statistic__card {
            width: 100%;
            max-width: initial;
        }
    }
    
    @media screen and (max-width: 768px) {
        .filter-result-item {
            flex-direction: column;
            text-align: center;
        }
    }
    
    @media screen and (max-width: 500px) {
        .filters__section {
            flex-direction: column;
            align-items: center;
        }
    }
    /*
Custom Select
https://codepen.io/THEORLAN2/pen/Kaewmw?editors=0010
*/
    
    .icon_select_mate {
        position: absolute;
        top: 20px;
        right: 2%;
        font-size: 16px;
        height: 22px;
        transition: all 275ms;
    }
    
    .select_mate {
        position: relative;
        float: left;
        min-width: 300px;
        width: 300px;
        min-height: 60px;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 1.8rem;
        background-color: transparent;
        transition: all 375ms ease-in-out;
        color: var(--white);
        /* Oculto el elemento select */
    }
    
    .select_mate select {
        position: absolute;
        overflow: hidden;
        height: 0px;
        opacity: 0;
        z-index: -1;
    }
    
    .cont_list_select_mate {
        position: relative;
        float: left;
        width: 100%;
    }
    
    .cont_select_int {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 999;
        overflow: hidden;
        height: 0px;
        width: 100%;
        background-color: #fff;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        border-radius: 1rem;
        box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
        transition: all 375ms ease-in-out;
    }
    
    .cont_select_int li {
        position: relative;
        float: left;
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
        background-color: var(--white);
        color: var(--nile-blue);
        list-style-type: none;
        padding: 10px 2%;
        margin: 0px;
        transition: all 275ms ease-in-out;
        display: block;
        cursor: pointer;
    }
    
    .cont_select_int li:last-child {
        border-radius: 3px;
        border-bottom: 0px;
    }
    
    .cont_select_int li:hover {
        background-color: var(--gallery);
    }
    
    .cont_select_int .active {
        background-color: var(--gallery);
    }
    
    .selecionado_opcion {
        padding: 20px 2%;
        width: 96%;
        display: block;
        margin: 0px;
        cursor: pointer;
    }
    /*End Custom Select */